<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    Spring提供的实例化方式，第一种：在spring配置文件中直接配置类路径，Spring会自动调用该类的无参数构造方法来实例化bean-->
    <bean id="sb" class="com.github.franklinthree.spring6.bean.SpringBean">

    </bean>
</beans>