<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    Spring提供的实例化方式，第一种：在spring配置文件中直接配置类路径，Spring会自动调用该类的无参数构造方法来实例化bean-->
    <bean id="sb" class="com.github.franklinthree.spring6.bean.SpringBean">

    </bean>
<!--    Spring提供的实例化方式，第二种：通过简单工厂模式。你需要在Spring配置文件中告诉Spring框架，调用那个类的哪个方法获取Bean-->
<!--    factory-method 属性指定的是工厂类当中的静态方法。也就是告诉Spring框架，调用这个方法可以获取Bean-->
    <bean id="star" class="com.github.franklinthree.spring6.bean.StarFactory" factory-method="get">

    </bean>
</beans>