<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--
    目前来说：scope属性只有两个值：
        singleton：单例模式，spring容器中只有一个实例。
        prototype：原型模式，每次从spring容器中获取的时候，都会创建一个新的实例。

-->
    <bean id="sb" class="com.github.franklinthree.bean.SpringBean" scope="prototype"></bean>
</beans>